.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Ignore OS X System Files
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Berkshelf
/cookbooks

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# JetBrains
.idea/*
